
body {
    background-color: #e1f4f6;
}
h1
{
    font-size: x-large;
    font-family: bwhite;
}

.menutla{
    background-color: #bf3636;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 5px 2px 5px 2px;
    max-width: 30px;;
    display:inline-block;
}
.padding15phone
{
    padding: 0px 10px 0px 10px;
    font-size: large;
}
@font-face {
    font-family: Nadpis;
    src: url('/public/static/fonts/Lexend-Bold.ttf');
}
@font-face {
    font-family: bwhite;
    src: url('/public/static/fonts/Lexend-ExtraBold.ttf');
}
@font-face {
    font-family: ptext;
    src: url('/public/static/fonts/Lexend-Regular.ttf');
}
@font-face {
    font-family: lexmed;
    src: url('/public/static/fonts/Lexend-Medium.ttf');
}
.forpp{
    font-family: Nadpis;
    color: #FFFFFF;
    font-size: 12.5px;
    padding-left: 25px;
    padding-right: 20px;
}
.text-right{
    font-family: ptext;
    font-size: 12.5px;
    color: #FFFFFF;
    text-align: right;
    margin-top: 4px;
}
h5{
    font-family: Nadpis;
    color: #FFFFFF;
    font-size: 18px;
}
h4
{
    font-family: Nadpis;
    font-size: 15px;
    color: #FFFFFF;
    margin-top: 20px;
    padding-left: 10px;
}
.forpar
{
    font-family: Nadpis;
    padding-top: 3em;
    padding-bottom: 3em;
}
.tablenadipis
{
    font-family: Nadpis;
    color: #FFFFFF;
    font-size: 15px;
}
.text-nadpis
{
    font-family: Nadpis;
    color: #c03838;
    white-space: nowrap;
}
.text-whiteb
{
    color: #FFFFFF;
}
.butdiv
{
    margin: 0;
    padding: 0;
    background-color: #c03535;
}

.menudiv
{
    background-color: #c03535;
    border-radius: 30%;
}
.mg-top-50
{
    margin-top: 50px;
}
.btnblue
{
    background-color: #288bcb;
    margin-top: 15px;
    padding: 10px 30px 10px 30px;
    color: #FFFFFF;
    font-family: lexmed;
}
.pforp
{
    font-family: ptext;
    font-size: 12.5px;
    color: #FFFFFF;
    padding-left: 25px;
    margin-top: 4px;
    padding-right: 21px;
}
.morepadright{
    padding-right: 60px !important;
}
.mg-top-20{
    margin-top: 20px;
}
.btnnovinky
{
    padding: 10px 30px 10px 30px;
}
.btnquest
{
    background-color: #288bcb;
    color: #FFFFFF;
    margin-top: 20px;
    margin-bottom: 16px;
    font-family: lexmed;
    font-size: 13px;
    width: 192px;
}
.navig
{
    text-align: right;
    display:block;
    margin:auto;
}
.maincont
{
    background-color: #bf3636;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}
.phone-offset
{
    padding-left:4%;
    padding-right: 4%;
}
.divpink
{
    background-color: #eab5b5;
}
.photo-placeholder{
    background-color: #eab5b5;
}
.form-control:focus
{
    box-shadow: none;
}
.tesinasdiv
{
    padding-top: 10px;
}
tr.spaceUnder>td {
    padding-bottom: 1em;
}
tr.spaceAbove>td {
    padding-top: 1em;
}
tr.spaceAboveSmaller>td {
    padding-top: 0.5em;
}
@media only screen and (max-width: 576px) {

    .text-nadpis {
        font-size: small;
    }
    body
    {
        padding-top: 10px;
    }
    .divpink
    {
        margin-top: 10px;
        height: 100px;
    }
    .photo-placeholder{
        margin: 15px;
        height: 200px;

    }
    .mg15
    {
        margin: 15px;
    }
    .mg-top-120
    {
        margin-top:  120px;
    }
    label
    {
        font-family: lexmed;
        font-size: 12px;
        color: #FFFFFF;
        padding-left: 4%;
    }
    .formtextinput {
        border-radius: 20px;
        border-color: #FFFFFF;
    }
    .tabletext
    {
        font-family: ptext;
        color: #FFFFFF;
    }
    .pricetext {
        font-size: 12.5px;
        padding-left: 1em;
        font-family: ptext;
        color: #FFFFFF;
    }
    .pricenum{
        padding-left: 3em;
        font-family: ptext;
        color: #FFFFFF;
        font-size: 12.5px;
    }
    p
     {
         font-family: ptext;
         color: #FFFFFF;
         font-size: 10.5px;
         padding: 0 4px 0 10px;
         margin: 0 0 5px 0;
     }
    ::placeholder
    {
        color: black !important;
        font-family: lexmed;
        font-size: 11px;
    }
    .tabletext
    {
        font-size: 14px;
    }
    footer{
        background-color: #8b2727;
        -webkit-border-bottom-right-radius: 20px;
        -webkit-border-bottom-left-radius: 20px;
        -moz-border-radius-bottomright: 20px;
        -moz-border-radius-bottomleft: 20px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        padding: 20px 0 20px 0;
        font-family: ptext;
        font-size: 10px;
        color: #FFFFFF;
    }
}
