{% extends "base.html.twig" %}
{% block body %}

    <div class="container-fluid">
    <div class="row">
        <div class="col-6 offset-1 text-nadpis">Vítejte na stránkách<br/>mateřské školy Krupá.</div>
        <div class="col-4 navig"><img src="{{ asset("/static/menubutton.png") }}" class="menutla">
            <img src="{{ asset("/static/menubutton.png") }}" class="menutla"></div>
        <! --- dodelat, div neni spravne s obrazky, scale???-nesedi --->
    </div>
    <div class="row phone-offset">
        <div class="tesinasdiv">
            <div class="col-12 offset-0 maincont">
                <div class="row">
                    <div class="col-12 text-center text-whiteb forpar">
                        <h2>Pro rodiče</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 forpp">
                        V této části naší webové prezentace bychom
                        rádi uvedli všechny praktické informace,
                        které se budou hodit rodičům i dětem před i
                        po nástupu do naší mateřské školky.
                    </div>

                    <div class="col-12 pforp morepadright">
                        Naleznete zde například velice nápomocný
                        seznam věcí, které by každé dítě mělo mít ve
                        školce při ruce. <br/>
                        Pro zvědavce zde rovněž uvádíme přibližnou
                        každodenní náplň výuky.
                    </div>
                    <div class="pforp">
                        Snadněji si tak představíte, co v kterou chvíli Vaše
                        dítko provádí.
                    </div>
                    <div class="pforp">
                        Prosíme Vás, abyste této části věnovali náležitou
                        pozornost.
                    </div>
                    <div class="pforp">
                        Pakliže tak učiníte, můžete si být jisti, že nástup do
                        naší mateřské školky proběhne bez komplikací a
                        Vaše dítě se tu po celý čas bude cítit skvěle.
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-center">
                        <button class="btn rounded-pill btnquest">Co děti potřebují?</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 forpp">
                        Připravujete své dítě na první den ve školce?
                    </div>
                    <div class="col-12 pforp">
                        V tom případě si prosím přečtěte informace o tom,
                        jakými věcmi je vhodné budoucího předškoláka
                        vybavit. Nic už pak nebude stát v cestě tomu, aby
                        si Vaše dítě pobyt u nás náramně užilo.
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-center">
                        <button class="btn rounded-pill btnquest">Organizace dne?</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 forpp">
                        Snažíme se vytvářet podmínky pro svobodný
                        rozvoj každého jednotlivce, respektujeme jeho
                        individualitu, podporujeme tvůrčí iniciativu.
                    </div>
                    <div class="pforp">
                        Zajímá-li Vás, co Váš syn či dcera budou ve školce
                        celé dny provádět, pročtěte si harmonogram,
                        podle kterého vedeme v naší mateřské škole
                        každodenní výuku.
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-center mg-top-120">
                        <h5>Školné a stravné</h5>
                        <div class="forpp text-center">
                            Sdělení pro rodiče o platbě školného pro
                            školní rok 2020/2021
                        </div>
                    </div>
                    <div class="col-12 pforp">
                        Školné se bude hradit tak jako v loňském roce
                        pouze bezhotovostně na účet školy <br />
                        č.ú. : 101340661/0800 a to vždy pozadu (tj. v říjnu
                        je hrazeno září atd.) vždy k 20. dni v měsíci
                    </div>
                    <div class="pforp">
                        (souhlas s inkasem si prosím nastavte tak, aby
                        částka byla limitována na 1000,-).
                    </div>
                    <div class="pforp">
                        V souladu s ustanovením § 33 a § 123 odstavce
                        2,3,4 zákona č. 561/2004 Sb.,o předškolním,
                        základním, středním, vyšším odborném a jiném
                        vzdělávání (školský zákon), stanovila ředitelka MŠ
                        úplatu za vzdělávání a školské služby pro školní rok
                        2020/2021
                    </div>
                    <div class="pforp">
                        Výše školného zůstává 250,-
                    </div>
                    <div class="pforp">
                        (předškolní děti a děti s odkladem školní docházky
                        školné neplatí)
                    </div>
                    <div class="pforp">
                        Výše stravného je stanovena vyhláškou č.
                        107/2005 Sb., o školním stravování
                    </div>
                    <div class="pforp">
                        výši finančního normativu v rámci rozpětí
                        finančních limitů stanovených v příloze č. 2
                        vyhlášky č. 107/2005 Sb., o školním stravování,
                        podle cen potravin
                    </div>

                </div>
                <div class="row">
                    <div class="col-12">
                        <table class="">
                            <tr class="spaceAbove">
                                <td class="pricetext">
                                    Dopolední svačinka
                                </td>
                                <td class="pricetext">
                                    8,-
                                </td>
                            </tr>
                            <tr class="spaceAboveSmaller">
                                <td class="pricetext">
                                    Oběd
                                </td>
                                <td class="pricetext">
                                    25,-
                                </td>
                            </tr>
                            <tr class="spaceAboveSmaller">
                            <td class="pricetext">
                                Odpolední svačinka
                            </td>
                            <td class="pricetext">
                                7,-
                            </td>
                            </tr>
                            <tr class="spaceAboveSmaller">
                            <td class="pricetext">
                                Pitný režim
                            </td>
                            <td class="pricetext">
                                3,-
                            </td>
                            </tr>
                            <tr class="spaceAboveSmaller">
                            <td class="pricetext">
                                Celkem
                            </td>
                            <td class="pricetext">
                                43,-
                            </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}