{% extends "base.html.twig" %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-6 offset-1 text-nadpis">Vítejte na stránkách mateřské školy Krupá.</div>
            <div class="col-4 float-right"><img src="./static/vyhledávání.png"></div>
        </div>
    </div>
{% endblock %}