{% extends "base.html.twig" %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-6 offset-1 text-nadpis">Vítejte na stránkách<br />mateřské školy Krupá.</div>
            <div class="col-4 navig"><img src="{{ asset("/static/menubutton.png") }}" class="menutla">
                <img src="{{ asset("/static/menubutton.png") }}" class="menutla"></div>
            <! --- dodelat, div neni spravne s obrazky, scale???-nesedi --->
        </div>
        <div class="row phone-offset">
            <div class="tesinasdiv">
                <div class="col-12 offset-0 maincont">
                    <div class ="row">
                        <div class="col-12">
                            <div class="text-center tesinasdiv text-whiteb" ><h1>Těší nás, že jste zavítali právě k nám.</h1>
                                <h3 class="padding15phone">Dopřejte svému dítěti krásně
                                    prožitá předškolní léta,</h3>
                                <h3  class="padding15phone">jaká si pamatujete Vy a bez
                                    váhání jej zapište do naší
                                    mateřské školy.</h3>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="divpink"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="mg-top-120 row">
                                <h2 class="col-12 text-whiteb text-center">O nás</h2>
                                <div class="col-12">
                                    <p>
                                        Jsme malá školka na okraji vsi. Naše školka je jednotřídní s
                                        celodenním provozem a kapacitou 24 dětí.
                                    </p>
                                    <p>Vyznačujeme se přátelským prostředím, které na první pohled
                                        potěší a rozzáří nejen Vaše malé ratolesti, ale také Vás
                                        samotné. Jsme si jisti, že ihned po první návštěvě na Vás
                                        dopadne lehká tíha nostalgie. Postačí jen chvíle, pár pohledů a
                                        začnete s úsměvem na tváři vzpomínat, jaké to bylo krásné a
                                        bezstarostné docházet každý všední den do školky. Herna je
                                        vybavena novým dětským nábytkem, nalezneme zde velké
                                        množství hraček i pracovní koutky. Děti si mohou brát hračky
                                        sami dle svého uvážení. Herna slouží zároveň i jako ložnice.</p>
                                    <p>Nově budeme používat tělocvičnu, která je umístěna v prvním
                                        patře.</p>
                                    <p>Vedle školky je rozlehlá zahrada, která je po rekonstrukci
                                        vybavena novými herními prvky a pískovištěm, zde si Vaše
                                        dítka budou moci užívat her a zabavy..</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 mg-top-120">
                            <h2 class="text-whiteb text-center">Novinky</h2>
                            <h4>Fotografování v MŠ</h4>
                            <div class="photo-placeholder"></div>
                            <h4>Vánoční prázdniny</h4>
                            <div class="photo-placeholder"></div>
                            <h4>Zápis do MŠ</h4>
                            <div class="photo-placeholder"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-center">
                        <button class="btn btn-light rounded-pill btnnovinky">Více novinek</button>
                            <! --- tehle button neco dela asi --->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 mg-top-120">
                            <h2 class="text-whiteb text-center">Napište nám</h2>
                            <div class="row">
                                <div class="col-12">
                                    <form class="mg15">
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="inputEmail4">Vaše jméno:</label>
                                                <input type="text" class="form-control formtextinput forminpfocus" id="inputEmail4" placeholder="Zadejte vaše jméno">
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="inputNubmer4">Telefonní číslo:</label>
                                                <input type="number" class="form-control formtextinput" id="inputPassword4" placeholder="Zadejte vaše telefonní číslo">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputAddress">Email:</label>
                                            <input type="email" class="form-control formtextinput" id="inputAddress" placeholder="Email">
                                        </div>

                                        <div class="form-group">
                                            <label for="inputAddress2">Vaše zpráva:</label>
                                            <textarea class="form-control formtextinput" id="inputAddress2" placeholder="Napište nám a co nejdříve vám odpovíme." rows="6" cols="50"></textarea>
                                        </div>
                                        <div class="text-center">
                                        <button type="submit" class="btn rounded-pill btnblue">Odeslat</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-10 offset-2">
                        <table>
                            <tbody>
                            <tr class="spaceUnder">
                                <td class="tablenadipis">Krupá 201</td>

                            </tr>
                            <tr>
                                <td class="tablenadipis">270 09 Krupá</td>
                            </tr>
                            <tr class="mgtr">
                                <td>
                                    &nbsp;
                                </td>
                            </tr>
                            <tr>
                                <td class="tabletext">email : mskrupa@poddzbansko.cz</td>
                            </tr>
                            <tr class="mgtr">
                                <td>
                                    &nbsp;
                                </td>
                            </tr>
                            <tr class="spaceUnder">
                                <td class="tablenadipis">Tel. Ředitelka MŠ :</td>

                            </tr>
                            <tr>
                                <td class="tabletext">602 448 762</td>
                            </tr>
                            <tr class="mgtr">
                            <td>
                                &nbsp;
                            </td>
                            </tr>
                            <tr class="spaceUnder">
                                <td class="tablenadipis">Tel. Jídelna MŠ :</td>

                            </tr>
                            <tr>
                                <td class="tabletext">731 471 585</td>
                            </tr>
                            <tr>
                                <td class="tabletext">313 575 111</td>
                            </tr>
                            <tr class="mgtr">
                            <td>
                                &nbsp;
                            </td>
                            <tr>
                                <td class="tabletext">Pověřenec: Ondřej Blail</td>
                            </tr>
                            <tr>
                                <td class="tabletext">Tel. : +420 602 283 989</td>
                            </tr>
                            <tr>
                                <td class="tabletext">email: ondrej.blail@innone.cz</td>
                            </tr>

                            </tbody>
                        </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-center">
                            <footer>
                                © 2021 Všechna práva vyhrazena.
                            </footer>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}